.navegacao {
  /* background-color: darkcyan; */
  /* background: linear-gradient(315deg, #298754, #5f02ff8e); */
  background: linear-gradient(315deg, #5ba072c9, #3a8379c9, #197437ee);
  min-width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  position: fixed;
}

.nav-itens {
  display: flex;
  align-items: center;
  min-width: 90%;
  margin: 0 10px 0 10px;
}

.moldura {
  display: flex;
  align-items: center;
  font-family: monospace;
  letter-spacing: 3px;

}

.logo {
  width: 60px;
  margin-right: 5px;
}

.logotipo {
  display: flex;
  font-size: 15px;
  color: #94aa04fc;
  text-decoration: none;
}

.nave {
  display: flex;
  margin-left: 10px;
  height: 100%;
}

.nave ul {
  max-height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  /*Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.nave ul li {
  float: left;
}

.nave ul li a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  color: rgb(235, 180, 79);
  /* corrigir para ficar travado no tamanho da div */
  padding: 27px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #c3fbd55b;
}

.ativa {
  background-color: #0d6947;
}

/* Botoes fazer login e cadastrar, na barra de navegação  */
.login {
  position: absolute;
  display: flex;
  justify-content: center;
  max-height: 100%;
  width: 180px;
  right: 10px;
}

.login-perfil {
  position: absolute;
  display: flex;
  justify-content: end;
  max-height: 100%;
  width: 5%;
  right: 30px;
}

.login-perfil .foto-perfil {
  display: flex;
}

.login-perfil .foto-perfil img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 2px solid rgb(90, 140, 51);
}

.signUp,
.signIn {
  display: flex;
  align-items: center;
  height: 50px;
  border: none;
  outline: none;
  padding: 1px 15px;
  background: linear-gradient(315deg, #0b3713b3, #315c3a8f);
  color: #FFF;
  font-size: 10px;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
}

.signUp {
  margin-right: 10px;
}

.signUp:hover,
.signIn:hover {
  transform: scale(1.1);
}
